*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    /* 按钮样式 */
    --button-padding: 7px 10px;
    --button-font-color: #555555;
    --button-border-color: #CCCCCC;
    --button-border-radius: 5px;
    --button-font-size: 16px;
    --button-bg: white;
    --button-hover-color: #40A9FF;
    --button-active-color: #007BFF;
    --button-disabled-color: #AAAAAA;
    --button-disabled-bg: #F2F2F2;
    --button-disabled-border-color: #CCCCCC;

    --icon-width: 16px;
    --icon-height: 16px;

    --input-width: 140px;
    --input-padding: 7px 0.5em;
    --input-color: #555555;
    --input-font-size: 16px;
    --input-border: 1px solid;
    --input-border-color: #CCCCCC;
    --input-border-radius: 5px;
    --input-hover-color: #40A9FF;
    --input-disable-color: #AAAAAA;
    --input-disable-bg: #F2F2F2;
    --input-disable-border-color: #CCCCCC;
    --input-readonly-color: #AAAAAA;
    --input-readonly-bg: #F2F2F2;
    --input-readonly-border-color: #CCCCCC;
}
